//  Font families
$font-family-name__base         : 'Mabry Pro' !default;

//  Colors
$text-color              : #666 !default;
$primary-color           : $color-lightest-pink !default;

//  Headings
$h1__font-size           : 36px !default;
$h2__font-size           : 30px !default;
$h3__font-size           : 25px !default;
$h4__font-size           : 22px !default;
$h5__font-size           : 20px !default;
$h6__font-size           : 16px !default;

//  Weights
$font-weight__light             : 200 !default;
$font-weight__book              : 300 !default;
$font-weight__regular           : 400 !default;
$font-weight__medium            : 500 !default;
$font-weight__semibold          : 600 !default;
$font-weight__bold              : 700 !default;